body{
    background-color: aquamarine;
}

* {

    font-family: 'Oswald', sans-serif;
}

h1 {

    color: orange;
}


ul#mainNav {

    list-style-type: none;
}

h3 { line-height: 150%;

}

h2 {text-decoration: underline;}
    h2 { text-decoration-color: currentColor; 

}


h3 {
    text-align: center;
  }
ul id mainNav {list-style: square;
}
a:visited {
    color: pink;
  }
h3 {
    width: auto;
    border: 1px solid white;
  }
  