body{
    background-color: aquamarine;}

* { font-family: 'Oswald', sans-serif;}

h1 {color: orange;}

ul#mainNav {

    list-style-type: square;}

h3 { line-height: 150%;

}

h2 {text-decoration: underline;}
    h2 { text-decoration-color: currentColor; 

}


h3 {
    text-align: center;
  }

ul#mainNav:visited {
    color: pink;
  }
h3 {
    width: auto;
    border: 1px solid white;
  }
    body {background-image: url("CalvinAndHobbes.jpg"); width: 50%; height: auto;}